<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title data-th-text="${loggedInUser.name}+ ' | Dashboard'">This is an profile page</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <!-- <div data-th-replace="~{user/user_navbar::user_navbar}"></div> -->
            <div data-th-replace="~{user/sideBar::sideBar}"></div>
        </div>
        <div class="pt-20 p-0 sm:pl-72" style="height: 1000px;">
            <h1>This is add contact page</h1>

        </div>
    </div>
    <script>
        console.log("This is profile page console");
    </script>
</body>

</html>