<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>All Yours Contact</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <!-- <div data-th-replace="~{user/user_navbar::user_navbar}"></div> -->
            <div data-th-replace="~{user/sideBar::sideBar}"></div>
        </div>
        <div class="sm:pl-64 pt-20">
            <div class="p-3">
                <h1 class="text-5xl text-center">All Your Contact</h1>
                <p class="text-center">List of all Contact</p>
                <div class="contact_container">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <form action="" data-th-action="@{'/user/contact/search'}"
                            data-th-object="${contactSearchForm}">
                            <div
                                class="flex items-center pl-3 justify-start space-x-3 flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
                                <div>

                                    <select id="countries_disabled" data-th-field="*{field}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option selected value="">Choose a Field</option>
                                        <option value="Name">Name</option>
                                        <option value="email">Email</option>
                                        <option value="phoneNumber">Phone Number</option>

                                    </select>
                                </div>
                                <label for="table-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                    </div>
                                    <input type="text" data-th-field="*{keywoard}" id="table-search-users"
                                        class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Search for users">
                                </div>
                                <button type="submit" class=" p-1.5 bg-blue-600 rounded-lg text-white">Search</button>
                            </div>
                        </form>
                        <table data-th-unless="${pagecontacts.empty}"
                            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>

                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Phone
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Link
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                    data-th-object="${c}" data-th-each="c : ${pagecontacts.getContent}">

                                    <th scope="row"
                                        class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                        <img class="w-10 h-10 rounded-full" data-th-src="@{*{picture}}"
                                            onerror="this.src='https://tse1.mm.bing.net/th?id=OIP.VTBzGQySOYLDke_xg2OfEQHaFj&pid=Api&P=0&h=180'"
                                            src="/docs/images/people/profile-picture-1.jpg" alt="Jese image">
                                        <div class="ps-3">
                                            <div class="text-base font-semibold" data-th-text="*{name}"></div>
                                            <div class="font-normal text-gray-500" data-th-text="*{email}">
                                                neil.sims@flowbite.com</div>
                                        </div>
                                    </th>
                                    <td class="px-6 py-4">

                                        <i class="fa-solid fa-phone p-2"></i>
                                        <span data-th-text="*{phoneNumber}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center space-x-2">
                                            <div data-th-if="*{favourite}"
                                                class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                            <div data-th-if="*{!favourite}"
                                                class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div>
                                            <a data-th-href="@{*{websiteLink}}" target="_blank"><i
                                                    class="fa-solid fa-link"></i></a>
                                            <a data-th-href="@{*{websiteLink}}" target="_blank"><i
                                                    class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="space-x-2">
                                            <a data-th-href="@{'/user/conatact/delete/'+*{id}}"><i
                                                    class="fa-solid fa-trash w-5 h-5"></i></a>
                                            <a href=""><i class="fa-solid fa-pen-to-square w-5 h-5"></i></a>
                                            <button data-th-onclick="loadConatactData([[${c.id}]])"><i
                                                    class="fa-solid fa-eye w-5 h-5"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination_container p-5 text-center" data-th-unless="${pagecontacts.empty}">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex -space-x-px text-sm">
                                    <li data-th-unless="${pagecontacts.isFirst}">
                                        <a data-th-href="@{'/user/contact?size='+${pageSize}+'&page='+${pagecontacts.number-1}}"
                                            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                    </li>
                                    <li data-th-each="index: ${ #numbers.sequence(0,pagecontacts.totalPages-1)}">
                                        <a data-th-href="@{'/user/contact?size='+${pageSize}+'&page='+${index}}"
                                            data-th-classappend="${index==pagecontacts.number?'bg-blue-200 dark:bg-blue-200' : 'bg-white'}"
                                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span
                                                data-th-text="${index+1}"></span></a>
                                    </li>
                                    <li data-th-unless="${pagecontacts.isLast}">
                                        <a data-th-href="@{'/user/contact?size='+${pageSize}+'&page='+${pagecontacts.number+1}}"
                                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <p data-th-if="${pagecontacts.empty}" class="text-center text-2xl p-3 ">
                            Result is
                            Not Found</p>
                    </div>
                </div>
                <div data-th-replace="~{user/contact_module::content}"></div>
            </div>

        </div>
    </div>
    </div>
    </div>
    <script data-th-src="@{'/js/contact.js'}"></script>
    <script>
        console.log("This is profile page console");
    </script>
</body>

</html>