<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is an dashboard page</title>
</head>

<body>
    <h1>Hellow this is dashboard page</h1>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard Page</title>
</head>

<body>
    <p>This is user dashboard page</p>
</body>

</html> -->