<div th:fragment="parent(section)">
    <h1>This is a parent class</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fuga aperiam maiores labore, saepe repellat
        ex. Error ullam aliquid eum saepe porro magni amet magnam eaque vero, quod, sit tempora!
        Maxime nihil quos hic deleniti, nam ipsum amet, eius cum aliquid quaerat nostrum! Aspernatur dolor fugiat in,
        iusto sapiente vero voluptates totam soluta maxime ipsa incidunt eum autem! Veniam, nisi.</p>
    <p th:replace="${section}"></p>
</div>


<div th:fragment="test">
    <h1>This is an test classs</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A obcaecati incidunt sed, numquam rerum explicabo.
        Beatae maxime nisi dolore, officiis similique in exercitationem, suscipit, nihil libero ad hic iste iure!</p>

</div>