<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script},~{::footer})}">

<head>
    <title>This is an contact page</title>
</head>

<body>

    <section id="content">
        <h1>Welcome to contact page</h1>
        <h2> we are connecting ....</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, optio sapiente omnis repellendus fugiat
            obcaecati harum nam aspernatur fugit corrupti voluptate ea amet dolorem ullam velit ab nesciunt? Et, soluta.
        </p>
    </section>
    <script>
        console.log("This is contact page console");
    </script>
    <footer></footer>
</body>

</html>