<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script},~{::footer})}">

<head>
    <title>This is an service page</title>
</head>

<body>

    <section id="content">
        <h1>Welcome to service page</h1>
        <h2> service offered by SCM</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, optio sapiente omnis repellendus fugiat
            obcaecati harum nam aspernatur fugit corrupti voluptate ea amet dolorem ullam velit ab nesciunt? Et, soluta.
        </p>
    </section>
    <footer></footer>
    <script>
        console.log("This is service page console");
    </script>
</body>

</html>